ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
ADMIN_SESSION_SECRET=
ADMIN_TOTP_SECRET=
GITHUB_STORAGE_TOKEN=
GITHUB_STORAGE_REPO=chuggaboomband-netizen/chuggaboomfreecd
GITHUB_STORAGE_BRANCH=main
SHOPIFY_STORE_DOMAIN=chuggaboom.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
